
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: black;
    font-weight: 500;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr:hover {
    background-color: #f1f1f1;
  }

  input{
    height: 28px;
    color: black;
    background-color:#fff;
    border-radius: 5px;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  button:hover {
    height: 45px;
  }
  .AddBtn {
    background-color: green;
  }
  .EditBtn {
    background-color: blue;
  }
  .DeleteBtn {
    background-color: red;
  }